page-login {
  ion-content{
    background: url('../img/login_background.png');
    background-size: cover;
  }

  .input_group{
    text-align: center;
    margin-top: 30%;
    opacity: 0.8;
  }

  .login_icon{
    width: 70px;
    height: 70px;
    margin-bottom: 5%;
    background: transparent;
  }

  .skip_button{
    background: skyblue;
    color: white;
    position:absolute;
    right: 3%;
  }

  .login_button{
    margin: 5% 0 5% 0;
  }
}
