<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <ion-icon name="information-circle"></ion-icon>
      我的點數
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img src="img/profile.jpg">
      </ion-avatar>

      <p>{{ profile_list.username }}</p>
      <p>{{ profile_list.name }}</p>

    </ion-item>

    <ion-card-content>

      <ion-list>
        <ion-list-header>我的銀行帳戶</ion-list-header>

        <button ion-item *ngFor="let message of account_data_list" (click)="openNavDetailsPage(message)">

          <ion-thumbnail item-left>
             <!--動態圖片來源-->
            <img [src]="'img/' + message.bank_id + '_logo.png'">
          </ion-thumbnail>

          {{ message.bank }}
          <p>{{ message.account }}</p>
          <ion-badge color="primary">{{ message.value}}點</ion-badge>
        </button>
      </ion-list>

      <ion-list-header>最近交換紀錄</ion-list-header>
      <ion-list *ngFor="let list of event_resultList">
        <!--<ion-item>
          {{ list.args.from }}{{list.args.from_bonus.c[0] }} {{ list.args.to }}{{list.args.to_bonus.c[0] }}
        </ion-item>-->

        <ion-item>
          <ion-icon name="icon-library" item-left></ion-icon>
          <h2>
              {{ list.args.from }}
            <ion-icon name="arrow-round-forward"></ion-icon>
              {{ list.args.to }}
          </h2>
          <p>
              <ion-badge color="primary">{{list.args.from_bonus.c[0] }}點</ion-badge>
            <ion-icon name="arrow-round-forward"></ion-icon>
              <ion-badge color="secondary">{{list.args.to_bonus.c[0] }}點</ion-badge>
          </p>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
