<ion-header>
  <ion-navbar color="_purple">
    <ion-title>
      {{ nav_data.bank }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>
         詳細資料
      </ion-list-header>
      <!--傳過來的不是 陣列 只是一個object 不能用 ngfor-->
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-3>帳戶號碼:</ion-col>
            <ion-col col-7 offset-2>
              {{ nav_data.account }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>姓名:</ion-col>
            <ion-col col-7 offset-2>
              {{ nav_data.name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>註冊時間:</ion-col>
            <ion-col col-7 offset-2>
              {{ nav_data.regist_time }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>身分證字號:</ion-col>
            <ion-col col-7 offset-2>
              {{ nav_data.user_id }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>剩餘點數:</ion-col>
            <ion-col col-7 offset-2>
              <ion-badge color="primary">{{ nav_data.value }}點</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        交換點數
      </ion-list-header>
      <ion-item>
        <ion-label color="primary">欲換取銀行</ion-label>
        <ion-select #select (ionChange)="option_onChange(select.value)" placeholder="請選擇">
          <div *ngFor="let option of select_option">
            <ion-option *ngIf="nav_data.bank!=option.name" value={{option.value}}>{{option.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary">換出數量:</ion-label>
        <ion-input type="number" placeholder="請輸入數量" (change)=input_onChange(from_bank_value) [(ngModel)]="from_bank_value"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">可獲得數量:</ion-label>
        <ion-input color="dark" disabled="true" placeholder="尚未輸入數量" value="{{ to_bank_value }}"></ion-input>
      </ion-item>

      <div text-center>
        <button ion-button round (click)='presentConfirm();'>交易送出</button>
      </div>

    </ion-list>


    <ion-list-header>
      交換紀錄
    </ion-list-header>

    <ion-list *ngFor="let list of event_resultList">

      <ion-item>
        <ion-icon name="icon-library" item-left></ion-icon>
        <h2>
            {{ list.args.from }}
          <ion-icon name="arrow-round-forward"></ion-icon>
            {{ list.args.to }}
        </h2>
        <p>
            <ion-badge color="primary">{{list.args.from_bonus.c[0] }}點</ion-badge>
          <ion-icon name="arrow-round-forward"></ion-icon>
          <ion-badge color="secondary">{{list.args.to_bonus.c[0] }}點</ion-badge>
        </p>
      </ion-item>

    </ion-list>

  </ion-card>


</ion-content>

